<h1>My lists</h1>
<% @lists.each do |list| %>
<%= link_to list.name, list_path(list) %>
<%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>

<% end %>

<%= link_to "Create a new list", new_list_path %>
